 {
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */

}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

body {
  font-family: 'IM Fell DW Pica', sans-serif;
  background: #ffff99;
  color: #000;
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.8em;
}
p {
  font-size: 1.9em;
}
--------/*header*/--------
.wrapper {
  width: 100%;
}
.banner {
  align: center;
  width: 100%;
}
nav {
  text-align: center;
  width: 100%;
}
.links, .internal {
  height: 4.5em;
  width: auto;
  margin: .5em .3em;
}

/*----------Home----------*/
#row1 {
  align: center;
  width: 100%;
  margin-bottom: 0;
}
#row2 {
  align: center;
  width: 100%;
  margin-left: 15%;
}

.comb {
  width: 30%;
  height: auto;
  margin: 0 1%;
}

@media only screen and (max-width: 800px) {

  }

/*-------------Gallery-------*/

.gallery h1 {
  text-align: center;
}


.large {
  display: none;
}
#thumbnails {
  width: 100%;
  margin: 1em 10%;
}
.sm1, .sm2, .sm3, .sm4,
.sm5, .sm6, .sm7, .sm8,
.sm9, .sm10, .sm11, .sm12,
.sm13, .sm14, .sm15, .sm16,
.sm17, .sm18, .sm19, .sm20,
.sm21, .sm22, .sm23, .sm24,
.sm25, .sm26 {
  height: 12.5em;
  width: auto;
}
.lg1, .lg2, .lg3, .lg4,
.lg5, .lg6, .lg7, .lg8,
.lg9, .lg10, .lg11, .lg12,
.lg13, .lg14, .lg15, .lg16,
.lg17, .lg18, .lg19, .lg20,
.lg21, .lg22, .lg23, .lg24,
.lg25, .lg26 {
  width: 60%;
  height: auto;
  margin: 1em 20% 1em 20%;
  border: .5em solid #ffffcc;
  z-index: 0;
  display: none;

}
.gallery span {
  align: center;
  margin: 0 5%;
  background: #ffffcc;
  height: auto;
  position: absolute;
  top: 30%;

}
.cap1, .cap2, .cap3, .cap4,
.cap5, .cap6, .cap7, .cap8,
.cap9, .cap10, .cap11, .cap12,
.cap13, .cap14, .cap15, .cap16,
.cap17, .cap18, .cap19, .cap20,
.cap21, .cap22, .cap23, .cap24,
.cap25 {
  text-align: center;
  color: black;
  position: absolute;
  font-size: 2.3em;
  z-index: 1;
  display: none;
}
.close {
  height: 3em;
  bottom: 62%;
  left:84%;
  position: absolute;
  z-index: 4;
  display: none;
}

#enlarge {
}

.hexagon, .hexagon div {
  margin: 0 3%;
  transform-origin: 50% 50%;
  display: inline-block;
  overflow: hidden;


}
.hexagon {
  width: 10.5em;
  height: 13em;
  transform: rotate(120deg);
}
.hexagon div{
  width: 100%;
  height: 100%;

}
.hex1 {
  transform: rotate(-60deg);
}
.hex2 {
  transform:rotate(-60deg);
}

/*--------------about----------*/

#about {
  margin: 1em 2%;
}
.aboutme {
  text-align: center;
  height: 25em;
  width: auto;
  border: 1.5em solid #cc9900;
  margin: 1% 40%;
}
.patrick {
  height: 25em;
  margin: 2%;
  float: left;
  border: 1em solid #cc9900;
}
.molly {
  float: right;
  width: 30em;
  height: auto;
  margin: 2%;
  border: 1em solid #cc9900;
}

/*--------------footer----------*/

footer .wrapper{
  margin: .5em 10%;
}
footer {
  width: 100%;
}
#divide {
  margin-top: 10em;
  text-align: center;
  border: 0;
  width: 90%;
  height: .2em;
  background: #cc9900;
}


