
<body>

  <div class="gallery">
  <h1>The MouseBee Gallery</h1>

    <div id="thumbnails" class="clearfix">

    <div class="hexagon">
        <div class="hex1">
          <div class= "hex2">
            <img class="sm4" src="/pictures/marvintro.jpg">
          </div>
        </div>
      </div>

      <div class="hexagon">
        <div class="hex1">
          <div class= "hex2">
            <img class="sm5" src="/pictures/kimmy.jpg">
          </div>
        </div>
      </div>

      <div class="hexagon">
        <div class="hex1">
          <div class= "hex2">
            <img class="sm6" src="/pictures/ThomMarv.jpg">
          </div>
        </div>
      </div>

      <div class="hexagon">
        <div class="hex1">
          <div class= "hex2">
            <img class="sm2" src="/pictures/Petra1.jpg">
          </div>
        </div>
      </div>

      <div class="hexagon">
        <div class="hex1">
          <div class= "hex2">
            <img class="sm7" src="/pictures/petra.jpg">
          </div>
        </div>
      </div>

      <div class="hexagon">
        <div class="hex1">
          <div class= "hex2">
            <img class="sm8" src="/pictures/Mousebee_1.jpg">
          </div>
        </div>
      </div>

      <div class="hexagon">
        <div class="hex1">
          <div class= "hex2">
            <img class="sm9" src="/pictures/Mousebee_3.jpg">
          </div>
        </div>
      </div>

      <div class="hexagon">
        <div class="hex1">
          <div class= "hex2">
            <img class="sm17" src="/pictures/brookesm.jpg">
          </div>
        </div>
      </div>

      <div class="hexagon">
        <div class="hex1">
          <div class= "hex2">
            <img class="sm18" src="/pictures/brooke2.jpg">
          </div>
        </div>
      </div>

      <div class="hexagon">
        <div class="hex1">
          <div class= "hex2">
            <img class="sm12" src="/pictures/armcuff1.jpg">
          </div>
        </div>
      </div>

      <div class="hexagon">
        <div class="hex1">
          <div class= "hex2">
            <img class="sm14" src="/pictures/armcuff2.jpg">
          </div>
        </div>
      </div>

      <div class="hexagon">
        <div class="hex1">
          <div class= "hex2">
            <img class="sm19" src="/pictures/catwallet.jpg">
          </div>
        </div>
      </div>

      <div class="hexagon">
        <div class="hex1">
          <div class= "hex2">
            <img class="sm22" src="/pictures/mollywallet.jpg">
          </div>
        </div>
      </div>

      <div class="hexagon">
        <div class="hex1">
          <div class= "hex2">
            <img class="sm24" src="/pictures/patwallet.jpg">
          </div>
        </div>
      </div>

      <div class="hexagon">
        <div class="hex1">
          <div class= "hex2">
            <img class="sm21" src="/pictures/kindlecase.jpg">
          </div>
        </div>
      </div>

      <div class="hexagon">
        <div class="hex1">
          <div class= "hex2">
            <img class="sm23" src="/pictures/pateye.jpg">
          </div>
        </div>
      </div>

      <div class="hexagon">
        <div class="hex1">
          <div class= "hex2">
            <img class="sm10" src="/pictures/atoc.jpg">
          </div>
        </div>
      </div>

      <div class="hexagon">
        <div class="hex1">
          <div class= "hex2">
            <img class="sm3" src="/pictures/owl.jpg">
          </div>
        </div>
      </div>

      <div class="hexagon">
        <div class="hex1">
          <div class= "hex2">
            <img class="sm13" src="/pictures/animalcell.jpg">
          </div>
        </div>
      </div>

      <div class="hexagon">
        <div class="hex1">
          <div class= "hex2">
            <img class="sm11" src="/pictures/aoab.jpg">
          </div>
        </div>
      </div>

      <div class="hexagon">
        <div class="hex1">
          <div class="hex2">
            <img class="sm1" src="/pictures/blue.jpg">
          </div>
        </div>
      </div>

      <div class="hexagon">
        <div class="hex1">
          <div class= "hex2">
            <img class="sm15" src="/pictures/beeearrings1.jpg">
          </div>
        </div>
      </div>

      <div class="hexagon">
        <div class="hex1">
          <div class= "hex2">
            <img class="sm16" src="/pictures/bbwass.jpg">
          </div>
        </div>
      </div>

      <div class="hexagon">
        <div class="hex1">
          <div class= "hex2">
            <img class="sm20" src="/pictures/dna2.jpg">
          </div>
        </div>
      </div>





      <!--25-->

    </div>

    <div id="enlarge" class="clearfix">

      <img class="close" src="/assets/close.png">

      <span class="cap1 caption">
      <img class="lg1" src= "/pictures/blue.jpg">'Organic' Beaded Necklace: Blue glass Seed Beads</span>

      <span class=" cap2 caption">
      <img class="lg2" src="/pictures/Petra1.jpg">Petra, the MouseBee of Protection
      </span>

      <span class=" cap3 caption">
      <img class="lg3" src="/pictures/owl.jpg">Detail: The Owl, FEZ cosplay dress, PAX'12</span>

      <span class=" cap4 caption">
      <img class="lg4" src="/pictures/marvintro.jpg">
      Introducing: Marv, The first Flying Sloth!</span>

      <span class=" cap5 caption">
      <img class="lg5" src="/pictures/kimmy.jpg">Introducing: Kimmy, Big Sister to the Flying Sloth Family</span>

      <span class=" cap6 caption">
      <img class="lg6" src="/pictures/ThomMarv.jpg">Thomas and Marv are Friends</span>

      <span class=" cap7 caption">
      <img class="lg7" src="/pictures/petra.jpg">Petra, As All her Kind, is Drawn to Red Flowers Especially</span>

      <span class="cap8 caption">
      <img class="lg8" src="/pictures/Mousebee_1.jpg">Introducing: Julianne! The Specialist
      </span>

      <span class="cap9 caption">
      <img class="lg9" src="/pictures/Mousebee_3.jpg">Julianne in her Element</span>

      <span class=" cap10 caption">
      <img class="lg10" src="/pictures/atoc.jpg">Adenine to Thymine friendship necklaces</span>

      <span class="cap11 caption">
      <img class="lg11" src="/pictures/aoab.jpg">Anatomy of a Beekeeper in Circular Galifreyan</span>


    <span class="cap12 caption">
      <img class="lg12" src="/pictures/animalcell.jpg">acrylic painted Animal Cell, part of my Molecular Biology Jewelry Series</span>

      <span class="cap13 caption">
      <img class="lg13" src="/pictures/armcuff1.jpg">A Tie-On Arm Cuff, for Keeping Cards Without a Wallet</span>

      <span class="cap14 caption">
      <img class="lg14" src="/pictures/armcuff2.jpg">Angle 2 of Arm Cuff</span>

      <span class="cap15 caption">
      <img class="lg15" src="/pictures/beeearrings1.jpg">Beaded Bee Earrings</span>

      <span class=" cap16 caption">
      <img class="lg16" src="/pictures/bbwass.jpg">Featured on boingboing.net, We Are Star Stuff in Amino Acids</span>

      <span class=" cap17 caption">
      <img class="lg17" src="/pictures/brookelg.jpg">Arm cuff, knitted</span>

      <span class=" cap18 caption">
      <img class="lg18" src="/pictures/brooke2.jpg">Arm cuff, knitted</span>

      <span class=" cap19 caption">
      <img class="lg19" src="/pictures/catwallet.jpg">Painted Wallet, featuring my cats</span>

      <span class=" cap20 caption">
      <img class="lg20" src="/pictures/dna2.jpg">Wire wrapped necklace, DNA with Hydrogen bonds</span>

      <span class=" cap21 caption">
      <img class="lg21" src="/pictures/kindlecase.jpg">Kindle Case Featuring Sloth Holmes and Watson</span>

      <span class=" cap22 caption">
      <img class="lg22" src="/pictures/mollywallet.jpg">Painted Wallet, featuring Molly</span>

      <span class=" cap23 caption">
      <img class="lg23" src="/pictures/pateye.jpg">My cat Patrick's eye</span>

      <span class=" cap24 caption">
      <img class="lg24" src="/pictures/patwallet.jpg">Painted Wallet, featuring Dr. Patrick Fibonacci Waffles</span>

    </div>

    <!--<div class="hex">
      <div class="hex1">
      </div>
      <div class="hex2">
      </div>
      <div class="hex3">
      </div>
    </div>-->

  </div>

</body>

