
<body>

  <div class="gallery">
  <h1>The MouseBee Gallery</h1>

    <div id="thumbnails" class="clearfix">

      <div class="hexagon">
        <div class="hex1">
          <div class="hex2">
            <img class="sm1" src="/pictures/blue.jpg">
          </div>
        </div>
      </div>

      <div class="hexagon">
        <div class="hex1">
          <div class= "hex2">
            <img class="sm2" src="/pictures/Petra1.jpg">
          </div>
        </div>
      </div>

      <div class="hexagon">
        <div class="hex1">
          <div class= "hex2">
            <img class="sm3" src="/pictures/owl.jpg">
          </div>
        </div>
      </div>

      <div class="hexagon">
        <div class="hex1">
          <div class= "hex2">
            <img class="sm4" src="/pictures/marvintro.jpg">
          </div>
        </div>
      </div>

      <div class="hexagon">
        <div class="hex1">
          <div class= "hex2">
            <img class="sm5" src="/pictures/kimmy.jpg">
          </div>
        </div>
      </div>

      <div class="hexagon">
        <div class="hex1">
          <div class= "hex2">
            <img class="sm6" src="/pictures/ThomMarv.jpg">
          </div>
        </div>
      </div>

      <div class="hexagon">
        <div class="hex1">
          <div class= "hex2">
            <img class="sm7" src="/pictures/petra.jpg">
          </div>
        </div>
      </div>

      <div class="hexagon">
        <div class="hex1">
          <div class= "hex2">
            <img class="sm8" src="/pictures/Mousebee_1.jpg">
          </div>
        </div>
      </div>

      <div class="hexagon">
        <div class="hex1">
          <div class= "hex2">
            <img class="sm9" src="/pictures/Mousebee_3.jpg">
          </div>
        </div>
      </div>
    </div>

    <div id="enlarge" class="clearfix">

      <img class="close" src="/assets/close.png">

      <span class="cap1 caption">
      <img class="lg1" src= "/pictures/blue.jpg">'Organic' Beaded Necklace: Blue glass Seed Beads</span>

      <span class=" cap2 caption">
      <img class="lg2" src="/pictures/Petra1.jpg">Petra, the MouseBee of Protection
      </span>

      <span class=" cap3 caption">
      <img class="lg3" src="/pictures/owl.jpg">Detail: The Owl, FEZ cosplay dress, PAX'12</span>

      <span class=" cap4 caption">
      <img class="lg4" src="/pictures/marvintro.jpg">
      Introducing: Marv, The first Flying Sloth!</span>

      <span class=" cap5 caption">
      <img class="lg5" src="/pictures/kimmy.jpg">Introducing: Kimmy, Big Sister to the Flying Sloth Family</span>

      <span class=" cap6 caption">
      <img class="lg6" src="/pictures/ThomMarv.jpg">Thomas and Marv are Friends</span>

      <span class=" cap7 caption">
      <img class="lg7" src="/pictures/petra.jpg">Petra, As All her Kind, is Drawn to Red Flowers Especially</span>

      <span class=" cap8 caption">
      <img class="lg8" src="/pictures/Mousebee_1.jpg">Introducing: Julianne! The Specialist
      </span>

      <span class=" cap9 caption">
      <img class="lg9" src="/pictures/Mousebee_3.jpg">Julianne in her Element</span>

    </div>

    <!--<div class="hex">
      <div class="hex1">
      </div>
      <div class="hex2">
      </div>
      <div class="hex3">
      </div>
    </div>-->

  </div>

</body>

