<header class="site-header">

  <div class="wrapper">

    <img class="banner" src= "/assets/beebanner1.png">

    <nav>
      <a href="/index.html"><img class="internal" src="/assets/stamphome.png"></a>
      <a href="/about.html"><img class="internal" src="/assets/stampabout.png"></a>
      <a href="/gallery/index.html"><img class="internal" src="/assets/stampgallery.png"></a>
      <img class="internal" src="/assets/stampss.png">

      <a href="https://www.etsy.com/shop/coletteisabella?ref=hdr_shop_menu"><img class="links" src="/assets/stampetsy.png"></a>
    <a href="https://www.facebook.com/AnatomyOfABeekeeper/"><img class="links" src="/assets/stampface.png"></a>
    <a href="https://github.com/ColetteIsabella"><img class="links" src="/assets/stampgh.png"></a>
    <a href="https://www.linkedin.com/in/coletteisabella"><img class="links" src="/assets/stampli.png"></a>
    </nav>
  </div>

</header>
